.menu-handler {
    cursor: pointer;
    margin-left: 30px;;
    width: fit-content;
    height: 20px;
}
.menu {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: -50%;
    width: 250px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.menu.menu--is-open {
    left:0;
    padding: 10px 30px;
}

.menu .menu-item {
  text-decoration: none;
  color: #bebaba;
  display: block;
}

.menu .menu-item-main {
  font-size: 20px;
  padding-top: 8px;
}

.menu .menu-item-sub {
  font-size: 15px;
  padding-top: 4px;
  margin-left: 20px;
}

.menu-item:hover {
  color: #757272;
  cursor: pointer;
}

.menu .menu-item--is-selected {
  color: rgb(42, 54, 59);
  font-weight: bold;
}

@media screen and (max-height: 450px) {
  .menu {padding-top: 15px;}
  .menu .menu-item {font-size: 18px;}
}