.menu {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    height: 100%;
    width: 0;
    margin-left: 0px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.menu--is-open {
    width: 250px;
    background-color: aliceblue;
    padding: 30px 30px;
}


.menu .menu-item {
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.menu .menu-item-main {
  font-size: 20px;
  padding-top: 8px;
}

.menu .menu-item-sub {
  font-size: 15px;
  padding-top: 4px;
  margin-left: 20px;
  transition: 0.3s;
}

.menu .menu-item:hover {
  color: #f1f1f1;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .menu {padding-top: 15px;}
  .menu .menu-item {font-size: 18px;}
}