.menu {
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    height: 100%;
    width: 0;
    margin-left: 0px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.menu--is-open {
    width: 250px;
    background-color: aliceblue;
}


.menu .menuItem {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.menu .menuItem:hover {
  color: #f1f1f1;
}

.menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .menu {padding-top: 15px;}
  .menu .menuItem {font-size: 18px;}
}