.info {
  margin-top: 0.2rem;
  padding: 2rem 4rem;
  background-color: white;
  color: black;

  .content {
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;

    .text {
      text-align: left;
      font-size: 1rem;
      color: black;
    }
  }
}

@media (max-width: 768px) {
  .info {
    padding: 1rem;
    .content {
      width: 70%;
      .text {
        width: 100%;
        font-size: 0.6rem;
        p {
          margin-bottom: 1.1rem;
          margin-left: 0.9rem;
          margin-right: 0.9rem;
        }
      }
    }
  }
}

@media (min-width: 1920px) {
  .info {
    padding: 0;
    .content {
      width: 60%;
      .text {
        padding: 2rem 4rem 6rem;
        font-size: 3rem;
      }
    }
  }
}