.info {
  margin-top: 0.2rem;
  padding: 2rem;

  .content {
    width: 50%;
    margin: 0 auto;
    border: 1px solid white;

    .text {
      text-align: left;
      font-size: 1rem;
    }
    .contact {
      background: #808080;
      border-top: 1px solid black;
      padding: 1.5rem 2rem;
      text-align: center;
      margin-top: 50px;;
      .title {
        text-transform: uppercase;
        font-size: 1.3rem;
        margin-bottom: 1rem;
        text-align: center;
      }
      .line {
        display: flex;
        justify-content: space-between;
        line-height: 2rem;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .info {
    .content {
      width: 70%;
      padding-top: 1rem;
      .text {
        width: 100%;
        font-size: 0.6rem;
        p {
          margin-bottom: 1.1rem;
          margin-left: 0.9rem;
          margin-right: 0.9rem;
        }
      }
      .contact {
        padding: 1rem 0;
        .title {
          font-size: 0.85rem;
          margin-bottom: 0.5rem;
        }
        .line{
          font-size: 0.6rem;
          flex-direction: column;
          line-height: 1.2rem;
        }
      }
    }
  }
}

@media (min-width: 1920px) {
  .info{
    padding-top: 12rem;
    .content {
      width: 60%;
      .text {
        padding: 2rem 4rem 6rem;
        font-size: 3rem;
      }
      .contact {
        padding: 6rem 6rem;
        .title {
          font-size: 3rem;
          margin-bottom: 3rem;
          font-weight: 600;
        }
        .line{
          font-size: 3rem;
          line-height: 11.5rem;
        }
      } 
    }
  }
}