.language-selector {
  margin: 0 auto;
  font-size: 1.2rem;
  position: absolute;
  top: 15%;
  right:4%;
}

.language-selector .language {
  opacity: 0.5;
}
.language-selector .language:hover {
  cursor: pointer;
}
.language-selector .active {
  opacity: 1;
  font-weight: 600;
}
.language-selector ul {
  margin: 0;
  padding: 0;
  text-align: right;
}
.language-selector ul li {
  list-style-type: none;
  display: inline;
}
.language-selector ul li:not(:first-child):before {
  content: " | ";
}

/* MacBook 13"*/
@media screen and (max-width: 1920px) {
  .language-selector {
    font-size: 1rem;
  }
}

