.language-selector {
  margin: 0 auto;
  font-size: 1.2rem;
  position: absolute;
  top: 15%;
  right:4%;
}

.language-selector .language {
  opacity: 0.5;
}
.language-selector .language:hover {
  cursor: pointer;
}
.language-selector .active {
  opacity: 1;
  font-weight: 600;
}
.language-selector ul {
  margin: 0;
  padding: 0;
  text-align: right;
}
.language-selector ul li {
  list-style-type: none;
  display: inline;
}
.language-selector ul li:not(:first-child):before {
  content: " | ";
}

/* MacBook 13"*/
@media screen and (max-width: 1920px) {
  .language-selector {
    font-size: 1rem;
  }
}
/*iPadPro Horizontal*/
@media screen and (max-width: 1382px) {

}
/*iPadPro Vertical / iPad HorizontaL*/
@media screen and (max-width: 1024px) {
}

/*iPhoneX horizontal*/
@media screen and (max-width: 900px) {

}

/*iPad Vertical iPhone6/7/8 Horizontal*/
@media screen and (max-width: 768px) {
}

/*iPhoneX/iPhone6/7/8 vertical*/
@media screen and (max-width: 480px) {
}

