.footer {
    clear: both;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2rem;
    color: #ffffff;
}

.footer a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    margin-left: .3rem;
}
  
@media screen and (max-width: 900px) {
    .footer {
        font-size: 0.9rem;
        padding: 1.2rem 1rem 0 0;
    }
}