.app-layout{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    font-family: "Tajawal", serif;
    font-weight: 400;
    font-style: normal;
}

.app-layout .header{
    height: 15vh;
    width: 100%;
}

.app-layout .body{
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 100%;
    width: 100%;
}