.app-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    justify-content: flex-end;
    background-color: white;
}

.app-layout .header {
    height: 10rem;
    width: 100%;
    padding: 2% 0;
}

.app-layout .body {
    height: 100%;
    width: 100%;
    position: relative;
    min-height: 60vh;
    flex-grow: 1;
}

.app-layout .body .content {
    width: 100%;
    height: 100%;
    transition: padding-left .5s;
    padding: 20px 0;
    padding-left: 0;
}

.app-layout .body .content--menu-is-open{
    padding-left: 250px;
}