.app-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    justify-content: flex-end;
    background-color: white;
}

.app-layout .header {
    width: 100%;
    padding: 3.5vh 0;
    position: relative;
    text-align: center;
}
.app-layout .header svg {
    width: 24vw;
    height: auto;
}


.app-layout .body {
    height: 100%;
    width: 100%;
    position: relative;
    min-height: 60vh;
    flex-grow: 1;
}

.app-layout .body .content {
    width: 100%;
    height: 100%;
    transition: padding-left .5s;
    padding: 20px;
}

.app-layout .body .content--menu-is-open{
    padding-left: 250px;
}

/*MacBook 13"*/
@media screen and (max-width: 1920px) {

}
/*iPadPro Horizontal*/
@media screen and (max-width: 1382px) {

}
/*iPadPro Vertical / iPad HorizontaL*/
@media screen and (max-width: 1024px) {
}

/*iPhoneX horizontal*/
@media screen and (max-width: 900px) {

}

/*iPad Vertical iPhone6/7/8 Horizontal*/
@media screen and (max-width: 768px) {
}

/*iPhoneX/iPhone6/7/8 vertical*/
@media screen and (max-width: 480px) {
    .app-layout .header svg {
        width: 40vw;
        height: auto;
    }
}